<form>
  <div class="m-2">
    <div class="row">
      <div class="col">
        <mat-form-field>
          <span matPrefix>Invoice Status: &nbsp;</span>
          <mat-select [formControl]="status" multiple>
            <mat-select-trigger>
              {{status.value ? status.value[0] : ''}}
              <span *ngIf="status.value?.length > 1" class="example-additional-selection">
                (+{{status.value.length - 1}} {{status.value?.length === 2 ? 'other' : 'others'}})
              </span>
            </mat-select-trigger>
            <mat-option *ngFor="let payment of paymentList" [value]="payment">{{payment}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field>
          <span matPrefix>Current Due and OverDue: &nbsp;</span>
          <mat-select [formControl]="Dues" multiple>
            <mat-select-trigger>
              {{Dues.value ? Dues.value[0] : ''}}
              <span *ngIf="Dues.value?.length > 1" class="example-additional-selection">
                (+{{Dues.value.length - 1}} {{Dues.value?.length === 2 ? 'other' : 'others'}})
              </span>
            </mat-select-trigger>
            <mat-option *ngFor="let due of DueList" [value]="due">{{due}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col">
        <button *ngIf="showbutton" mat-raised-button type="button" color="primary" (click)="hideButton()">Custom Button</button>
        <!-- <mat-form-field *ngIf="showbutton">
          <mat-select name="countryString" >
            <mat-option *ngFor="let custom of customList" [value]="due">{{custom}}</mat-option>
          </mat-select>
        </mat-form-field> -->
        <mat-form-field *ngIf="!showbutton">
          <span matPrefix>Last Responded: &nbsp;</span>
          <mat-select [formControl]="Dates">
            <ng-container *ngFor="let property of DateRange">
              <mat-option [value]="property">
                <mat-radio-button [value]="property" style="display: block; padding: 12px 12px 12px 32px;">
                  {{ property }}
                </mat-radio-button>
              </mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <button mat-raised-button type="button" color="primary" (click)="submitForm()">Primary</button>
</form>